p.a {
  font: 20px Times New Roman, sans-serif;
  color: green;
  border: 3px solid green;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.text {
background-color: #4CAF50; /* Green */
font-size: 28px;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

A {
  font-size: 20px;
  color: red;

}