{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}
<html>
<body>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p><b>Australian PM Scott Morrison agreed to help Donald Trump with investigation into Russia probe origins</b></p>
      <p></p>
      
      <br>
<img src="https://www.telegraph.co.uk/content/dam/news/2019/09/30/TELEMMGLPICT000210512198_trans_NvBQzQNjv4BqpVlberWd9EgFPZtcLiMQfy2dmClwgbjjulYfPTELibA.jpeg?imwidth=1400" alt="President Donald Trump and Australian Prime Minister Scott Morrison shake hands" width="500" height="333">
<br>
<span itemprop="caption" class="lead-asset-caption">President Donald Trump and Australian Prime Minister Scott Morrison shake hands </span>
<br>
    </div>
</body>
</html>
{% endblock %}



